extends ./main

block content
	.container.table-align-top 
		h1.title-align-center Lista de fornecedores
		table.table.table-bordered 
			thead 
				tr 
					th Nome Fantasia 
					th CNPJ
					th E-mail 
					th Telefone Fixo 
					th Telefone Móvel 
					th Ações 
			tbody 
				tr 
					td AAAAAA 
					td 12546302120
					td fornecedor@a.b
					td (45)58964512
					td (48)999999999
					td
						button.btn.btn-success(type='button') Editar 
						button.btn.btn-danger(type='button') Remover
				tr 
					td BBBBBB
					td 12546302120
					td fornecedor@a.b
					td (45)58964512
					td (48)999999999
					td
						button.btn.btn-success(type='button') Editar 
						button.btn.btn-danger(type='button') Remover
				tr 
					td CCCCCCCC
					td 12546302120
					td fornecedor@a.b
					td (45)58964512
					td (48)999999999
					td
						button.btn.btn-success(type='button') Editar 
						button.btn.btn-danger(type='button') Remover