extends ./main
include ./mixins/supplier_form

block content 
	.container.form-align-top.col-md-4
		h1.title-align-center Cadastro de novo fornecedor
		form(action="/supplier", method="POST")
			+form(supplier) 